body,
html {
    height: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif !important;
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
    min-height: 90%;
}

.calendar * {
    min-width: 100%;
    min-height: 400px;
}